# Spotify's Worldwide Daily Song Ranking (2017)

### The 200 daily most streamed songs in 53 countries

##### https://www.kaggle.com/edumucelli/spotifys-worldwide-daily-song-ranking/home

In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv("DataSets/Spotify2017.csv")
df = df.set_index(['Position'])
df.head(10) #generates the first 10 entries

,Track Name,Artist,Streams,URL,Date,Region
Position,,,,,,
1,Reggaetón Lento (Bailemos),CNCO,19272,https://open.spotify.com/track/3AEZUABDXNtecAO...,2017-01-01,ec
2,Chantaje,Shakira,19270,https://open.spotify.com/track/6mICuAdrwEjh6Y6...,2017-01-01,ec
3,Otra Vez (feat. J Balvin),Zion & Lennox,15761,https://open.spotify.com/track/3QwBODjSEzelZyV...,2017-01-01,ec
4,Vente Pa' Ca,Ricky Martin,14954,https://open.spotify.com/track/7DM4BPaS7uofFul...,2017-01-01,ec
5,Safari,J Balvin,14269,https://open.spotify.com/track/6rQSrBHf7HlZjtc...,2017-01-01,ec
6,La Bicicleta,Carlos Vives,12843,https://open.spotify.com/track/0sXvAOmXgjR2QUq...,2017-01-01,ec
7,Ay Mi Dios,IAmChino,10986,https://open.spotify.com/track/6stYbAJgTszHAHZ...,2017-01-01,ec
8,Andas En Mi Cabeza,Chino & Nacho,10653,https://open.spotify.com/track/5mey7CLLuFToM2P...,2017-01-01,ec
9,Traicionera,Sebastian Yatra,9807,https://open.spotify.com/track/5J1c3M4EldCfNxX...,2017-01-01,ec
10,Shaky Shaky,Daddy Yankee,9612,https://open.spotify.com/track/58IL315gMSTD37D...,2017-01-01,ec

### Q1: Who were the Top 5 streamed artists worldwide?

In [3]:
df['Streams'].dtype

dtype('int64')

In [4]:
world = df[df['Region'] == 'global']
by_artist = world.groupby('Artist')
by_artist = by_artist.sum()
by_artist = by_artist.sort_values(['Streams'], ascending=False)
by_artist.head(5)

                     Streams
Artist
Ed Sheeran        4560088448
Drake             2238528547
The Chainsmokers  2210874037
Post Malone       1834991987
Kendrick Lamar    1817094405

### Q2: Which regions are represented in the data?

In [5]:
for i in df['Region'].unique():
    print(i, end=' ')

ec fr ar fi no it lt ph tw nz ee tr us sv cr de cl jp br hn gt ch hu ca pe be my dk bo pl at pt se mx pa uy is es cz ie nl sk co sg id do lu gb global py au lv gr hk

### Q3: Who were the Top 10 streamed artists in the United States?

In [6]:
unitedStates = df[df['Region'] == 'us'].groupby('Artist')
unitedStates = unitedStates.sum()
unitedStates = unitedStates.sort_values(['Streams'], ascending=False)
unitedStates.head(10)

                     Streams
Artist
Drake             1250864578
Kendrick Lamar    1163890899
Post Malone        988811897
Lil Uzi Vert       773675118
Ed Sheeran         723507889
Migos              694024669
Future             568147747
The Chainsmokers   556698859
21 Savage          481196247
Khalid             470519202

### Q4: Who were the Top 10 streamed artists in Japan?

In [7]:
japan = df[df['Region'] == 'jp'].groupby('Artist')
japan = japan.sum()
japan = japan.sort_values(['Streams'], ascending=False)
japan.head(10)

                   Streams
Artist
Ed Sheeran        16462724
Shota Shimizu     12020288
TWICE             11983885
The Chainsmokers  11279051
ONE OK ROCK       11275329
AAA                8449246
Justin Bieber      7406948
Bruno Mars         7358350
Ariana Grande      6580630
Maroon 5           5209358

### Q5: What are Ed Sheeran's top 5 most streamed songs worldwide?

In [8]:
edSheeran = world[world['Artist'] == 'Ed Sheeran'].groupby('Track Name')
edSheeran = edSheeran.sum()
edSheeran = edSheeran.sort_values(['Streams'], ascending=False)
edSheeran.head(5)

                       Streams
Track Name
Shape of You        1490812208
Perfect              516722898
Castle on the Hill   497746717
Galway Girl          465847741
Photograph           255658845

### Q6: What were Drake's Top 5 streamed songs in the US?

In [9]:
us = df[df['Region'] == 'us']
drake = us[us['Artist'] == 'Drake'].groupby('Track Name')
drake = drake.sum()
drake = drake.sort_values(['Streams'], ascending=False)
drake.head(5)

                Streams
Track Name
Fake Love     172764719
Passionfruit  168936267
Portland      132209360
One Dance      96640713
Gyalchester    86399683

### Q7: What were the Top 10 most streamed songs worldwide?

In [10]:
tracks = world.groupby('Track Name')
tracks = tracks.sum()
tracks = tracks.sort_values(['Streams'], ascending=False)
tracks.head(10)

                                       Streams
Track Name
Shape of You                        1490812208
Despacito - Remix                    919199404
Despacito (Featuring Daddy Yankee)   742841612
Something Just Like This             692404365
Unforgettable                        678399824
HUMBLE.                              662179904
I'm the One                          636419786
rockstar                             631519085
It Ain't Me (with Selena Gomez)      604115906
XO TOUR Llif3                        593112026

### Q8: How many times, on average, was 'Shape of You' streamed daily?

In [11]:
shapeOfYou = world[world['Track Name'] == 'Shape of You']
shapeOfYou.mean()['Streams']

4095637.9340659343

### Q9: List all of the songs that were ever the most streamed on a given day in the US.

In [12]:
us = df[df['Region'] == 'us']
for i in us['Track Name'][1].unique():
    print(i)

Bad and Boujee (feat. Lil Uzi Vert)
Shape of You
Passionfruit
HUMBLE.
Despacito (Featuring Daddy Yankee)
Despacito - Remix
XO TOUR Llif3
Wild Thoughts
Unforgettable
Bank Account
Look What You Made Me Do
...Ready For It?
1-800-273-8255
rockstar
All I Want for Christmas Is You

### Q10: How many times was 'Rockstar' by Post Malone the most streamed song in the US on a given day?

In [13]:
first = df.loc[[1]]
us = first[first['Region'] == 'us']
len(us[us['Track Name'] == 'rockstar'])

114

### Q11: Which song was the #1 streamed song most frequently? (in the US)

In [14]:
songs = []
streams = []



for i in us['Track Name'][1].unique():
    streams.append(len(us[us['Track Name'] == i]))
    songs.append(i)
    
    
Dict = {
    'Song': songs,
    'Days_Most_Streamed': streams,
}

df2 = pd.DataFrame(Dict)
df2 = df2.sort_values(['Days_Most_Streamed'], ascending=False)
df2.index = range(1, 16)
df2

                                   Song  Days_Most_Streamed
1                              rockstar                 114
2                               HUMBLE.                  64
3                          Shape of You                  48
4                     Despacito - Remix                  46
5   Bad and Boujee (feat. Lil Uzi Vert)                  29
6                          Bank Account                  20
7                          Passionfruit                  12
8              Look What You Made Me Do                  10
9                        1-800-273-8255                  10
10                        Unforgettable                   7
11                        XO TOUR Llif3                   4
12   Despacito (Featuring Daddy Yankee)                   2
13                     ...Ready For It?                   2
14      All I Want for Christmas Is You                   2
15                        Wild Thoughts                   1

### Q12: What were the Top 5 charting songs in the US during March?

In [15]:
us = df[df['Region'] == 'us']
month = us[us['Date'].str.contains('2017-03')]
top10 = month.groupby('Track Name').sum()
top10 = top10.sort_values(['Streams'], ascending=False)
top10.head(5)

                          Streams
Track Name
Shape of You             51382306
Mask Off                 39501323
iSpy (feat. Lil Yachty)  37264315
That's What I Like       35508219
Tunnel Vision            30940107