# 100 Pandas Puzzles
### https://github.com/ajcr/100-pandas-puzzles/blob/master/100-pandas-puzzles.ipynb
### Max Addae

______________________________________________________________________________________________________________________
### Part 1: Importing Pandas
#### Getting Started and Checking Your Pandas Setup

##### Difficulty: Easy

#### 1. Import pandas under the name pd.

In [246]:
import pandas as pd

#### 2. Print the version of pandas that has been imported.

In [247]:
pd.__version__

'0.23.0'

#### 3. Print out all the version information of the libraries that are required by the pandas library.

In [248]:
pd.show_versions()

INSTALLED VERSIONS
------------------
commit: None
python: 3.6.5.final.0
python-bits: 64
OS: Darwin
OS-release: 17.4.0
machine: x86_64
processor: i386
byteorder: little
LC_ALL: None
LANG: en_US.UTF-8
LOCALE: en_US.UTF-8

pandas: 0.23.0
pytest: 3.5.1
pip: 10.0.1
setuptools: 39.1.0
Cython: 0.28.2
numpy: 1.14.3
scipy: 1.1.0
pyarrow: None
xarray: None
IPython: 6.4.0
sphinx: 1.7.4
patsy: 0.5.0
dateutil: 2.7.3
pytz: 2018.4
blosc: None
bottleneck: 1.2.1
tables: 3.4.3
numexpr: 2.6.5
feather: None
matplotlib: 2.2.2
openpyxl: 2.5.3
xlrd: 1.1.0
xlwt: 1.2.0
xlsxwriter: 1.0.4
lxml: 4.2.1
bs4: 4.6.0
html5lib: 1.0.1
sqlalchemy: 1.2.7
pymysql: None
psycopg2: None
jinja2: 2.10
s3fs: None
fastparquet: None
pandas_gbq: None
pandas_datareader: None

______________________________________________________________________________________________________________________
### Part 2: DataFrame Basics
#### A few of the fundamental routines for selecting, sorting, adding and aggregating data in DataFrames

##### Difficulty: Easy

#### 4.  Create a DataFrame df from this dictionary data which has the index labels.

In [249]:
import numpy as np
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(data=data, index=labels)

#### 5. Display a summary of the basic information about this DataFrame and its data.

In [250]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
animal      10 non-null object
age         8 non-null float64
visits      10 non-null int64
priority    10 non-null object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes

#### 6. Return the first 3 rows of the DataFrame df.

In [251]:
df.head(3)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no

### 7. Select just the 'animal' and 'age' columns from the DataFrame df.

In [252]:
df[['animal', 'age']]

  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0

#### 8. Select the data in rows [3, 4, 8] and in columns ['animal', 'age'].

In [253]:
columns = df[['animal', 'age']]
columns.iloc[[3, 4, 8]]

  animal  age
d    dog  NaN
e    dog  5.0
i    dog  7.0

#### 9. Select only the rows where the number of visits is greater than 3.

In [254]:
df[df['visits'] > 3.0]

Empty DataFrame
Columns: [animal, age, visits, priority]
Index: []

#### 10. Select the rows where the age is missing, i.e. is NaN.

In [255]:
df[df['age'].isnull()]

  animal  age  visits priority
d    dog  NaN       3      yes
h    cat  NaN       1      yes

#### 11. Select the rows where the animal is a cat and the age is less than 3.

In [256]:
cat = df[df['animal'] == 'cat']
lessThan3 = cat[cat['age'] < 3]
lessThan3

  animal  age  visits priority
a    cat  2.5       1      yes
f    cat  2.0       3       no

#### 12. Select the rows the age is between 2 and 4 (inclusive).

In [257]:
df[(df['age'] >= 2) & (df['age'] <= 4)] 

# or df[df['age'].between(2,4)]

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
f    cat  2.0       3       no
j    dog  3.0       1       no

#### 13. Change the age in row 'f' to 1.5.

In [258]:
df.at['f', 'age'] = 1.5
df

# or df.loc['f', 'age'] = 1.5

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

#### 14. Calculate the sum of all visits (the total number of visits).

In [259]:
total = df['visits'].sum()
total

19

#### 15. Calculate the mean age for each different animal in df.

In [260]:
df.groupby('animal')['age'].mean()

animal
cat      2.333333
dog      5.000000
snake    2.500000
Name: age, dtype: float64

#### 16. Append a new row 'k' to df with your choice of values for each column. Then delete that row to return the original DataFrame.

In [261]:
df['k'] = 5 #adds new row
df

  animal  age  visits priority  k
a    cat  2.5       1      yes  5
b    cat  3.0       3      yes  5
c  snake  0.5       2       no  5
d    dog  NaN       3      yes  5
e    dog  5.0       2       no  5
f    cat  1.5       3       no  5
g  snake  4.5       1       no  5
h    cat  NaN       1      yes  5
i    dog  7.0       2       no  5
j    dog  3.0       1       no  5

In [262]:
del df['k']
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

#### 17. Count the number of each type of animal in df.

In [263]:
df.groupby('animal').size()

# OR df['animal'].value_counts()

animal
cat      4
dog      4
snake    2
dtype: int64

#### 18. Sort df first by the values in the 'age' in decending order, then by the value in the 'visit' column in ascending order.

In [264]:
df.sort_values(by=['age', 'visits'], ascending=[False, True])

  animal  age  visits priority
i    dog  7.0       2       no
e    dog  5.0       2       no
g  snake  4.5       1       no
j    dog  3.0       1       no
b    cat  3.0       3      yes
a    cat  2.5       1      yes
f    cat  1.5       3       no
c  snake  0.5       2       no
h    cat  NaN       1      yes
d    dog  NaN       3      yes

#### 19. The 'priority' column contains the values 'yes' and 'no'. Replace this column with a column of boolean values: 'yes' should be True and 'no' should be False.

In [265]:
df['priority'] = df['priority'].map({'yes': True, 'no': False})

#### 20. In the 'animal' column, change the 'snake' entries to 'python'.

In [266]:
mask = df['animal'] == 'snake'
df['animal'][mask] = 'python'
df

/Users/maxwelladdae/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

   animal  age  visits  priority
a     cat  2.5       1      True
b     cat  3.0       3      True
c  python  0.5       2     False
d     dog  NaN       3      True
e     dog  5.0       2     False
f     cat  1.5       3     False
g  python  4.5       1     False
h     cat  NaN       1      True
i     dog  7.0       2     False
j     dog  3.0       1     False

#### 21. For each animal type and each number of visits, find the mean age. In other words, each row is an animal, each column is a number of visits and the values are the mean ages (hint: use a pivot table).

In [267]:
df.pivot_table(index='animal', columns='visits', values='age', aggfunc=np.mean)

visits    1    2     3
animal
cat     2.5  NaN  2.25
dog     3.0  6.0   NaN
python  4.5  0.5   NaN